[user]
	name = Weslei
	email = wesleimsr@gmail.com

[url "ssh://git@github.com/"]
	insteadOf = https://github.com/

[core]
	editor = vim
	excludesfile = /home/weslei/.globalgitignore

[diff]
	tool = vimdiff

[github]
	user = wesleimp

[commit]
	gpgsign = false
