[user]
	name = Weslei Juan Moser Pereira
	email = wesleimsr@gmail.com

[url "ssh://git@github.com/"]
    insteadOf = https://github.com/

[url "https://github.com/rust-lang/crates.io-index"]
  insteadOf = https://github.com/rust-lang/crates.io-index

[core]
	editor = nvim
	excludesfile = ~/.globalgitignore
    pager = delta

[delta]
    navigate = true
    features = line-numbers decorations
    file-modified-label = modified:

[delta "decorations"]
    commit-style = raw
    commit-decoration-style = none
    hunk-header-style = omit
    hunk-header-decoration-style = none

[interactive]
    diffFilter = delta --color-only

[merge]
    conflictstyle = diff3

[diff]
	tool = vimdiff
    colorMoved = default

[github]
	user = wesleimp

[commit]
	gpgsign = false

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true

[pull]
	rebase = false

[init]
	defaultBranch = main

[alias]
  lb = "!sh -c \"git reflog | grep -o 'checkout: moving from .* to ' | sed -e 's/checkout: moving from //' -e 's/ to $//' | head -5\""
